body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 20px;
}

.job-card {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    width: 300px;
    padding: 20px;
    margin: 10px;
    transition: transform 0.2s;
}

.job-card:hover {
    transform: translateY(-5px);
}

.job-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
}

.job-description {
    font-size: 16px;
    margin-bottom: 10px;
}

.job-info {
    font-size: 14px;
    color: #777;
}

.skills {
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
}

.skill {
    background-color: #007BFF;
    color: #fff;
    border-radius: 20px;
    padding: 5px 10px;
    font-size: 12px;
    margin-right: 5px;
    margin-bottom: 5px;
}
